@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --bg-light: #ffffff;
    --bg-dark: #0a1929;
    --blue: #2196f3;
    --depp-purple: #673ab7;
    --color-primary-light: #263238;
    --color-secundary-light: #78909c;
    --color-primary-dark: #eceff1;
    --color-secundary-dark: #607d8b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s all ease;
}

body {
    background: var(--bg-light);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

img {
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__btn {
    position: absolute;
    top: 2.5em;
    right: 3.75em;
}

.button {
    position: relative;
    width: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    color: var(--color-primary-light);
    border: none;
    border-radius: 50px;
    padding: 4px;
    transition: .2s all ease;
    cursor: pointer;
}

.button__toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    width: 1.5em;
    height: 1.5em;
    border: 4px solid rgba(0, 0, 0, 0.1);
    background: var(--bg-light);
    border-radius: 100%;
    transition: .2s all ease;
}

.card {
    width: 18.75em;
    background: var(--bg-light);
    box-shadow: 0px 31px 46px 10px rgba(0,0,0,0.1);
    padding: 0.9375em;
    border-radius: 0.625em;
}

.card__image {
    width: 100%;
    height: 12.5em;
    overflow: hidden;
    border-radius: 0.375em;
    margin-bottom: 0.9375em;
}

.card__image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__title {
    font-size: 1.375em;
    font-weight: 600;
    color: var(--color-primary-light);
}

.card__paragraph {
    font-size: 0.875em;
    color: var(--color-secundary-light);
    margin: 0.9375rem 0;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__price {
    font-size: 0.875em;
    font-weight: 600;
    color: var(--depp-purple);
}

.card__date {
    font-size: 0.875em;
    color: var(--color-secundary-light);
}

.card__user {
    display: flex;
    align-items: center;
    margin: 0.9375em 0;
}

.card__user-image {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.card__attribution-user {
    font-size: 0.875em;
    margin-left: 0.625rem;
    color: var(--color-secundary-light);
}

.card__name {
    color: var(--color-primary-light);
}

/* Dark Mode */
body.dark {
    background: var(--bg-dark);
}

body.dark .button {
    background: var(--blue);
    color: var(--color-primary-dark);
}

body.dark .button__toggle {
    right: 0;
    left: unset;
    border-color: var(--blue);
    background: var(--bg-dark);
}

body.dark .card {
    background: var(--bg-dark);
    box-shadow: 0px 31px 46px 10px rgba(0,0,0,0.2);
}

body.dark .card__title, body.dark .card__name {
    color: var(--color-primary-dark);
}

body.dark .card__paragraph, body.dark .card__date, body.dark .card__attribution-user {
    color: var(--color-secundary-dark);
}